from flask import Flask, render_template, send_from_directory
from test.test1 import abc

app = Flask(__name__)

@app.route('/')
def index():
    return f'Hello World {abc()}'

@app.route('/ks/<os>')
def ks(os):
    abc="""
#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
#clearpart --none --initlabel
zerombr
clearpart --all --initlabel
# Use graphical install
#graphical
text
# Use CDROM installation media
#cdrom
#url --url=https://download.rockylinux.org/pub/rocky/8/BaseOS/x86_64/os/
#url --url=https://mirror.xtom.com.hk/centos/7/os/x86_64/
url --url https://download.rockylinux.org/pub/rocky/{os}/BaseOS/x86_64/os/
#url --url=http://10.1.23.110/rl87/BaseOS
#url --url=https://download.rockylinux.org/vault/rocky/{os}/BaseOS/x86_64/os/
#url --url=https://mirror.xtom.com.hk/centos/7/os/x86_64/
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens32 --gateway=10.1.1.1 --ip=10.1.23.101 --nameserver=8.8.8.8 --netmask=255.255.0.0 --ipv6=auto --activate
network  --hostname=mytest.local
# Root password
sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC7zr5e/UqtSF+Uka6LveF9HBq0874SAIAWUmIcJBmfGcF4q7o7CTAMFwgY2NQxvEPe1FDTcSKYcwAQGndSj5CwZfqoEcFyjvPdYOVCW5jwkpE94qqZVoAJeXHZbJyAXDCPnfu+GRMwS3c3q+UcV1v/l6MlHFz/hJMIhSaPNZ5ZGLxBfvO0+1Y2dMVUvAkPIOzVts1kJDwTSh/ztf+nQ4PQzQxOwfh6AyahnBs80j9c+kOPlGOF1Sw+miSUqofHX+4KfkdXi8oah2W5N0pBWzCVkoLECo7xuz7AUP051LGKl+kRgmhpuckXXD/y95k8u8PD7HnGihGyfk08jHLusHeZewY4OGB2coKiLNreXQBljt+PX9b8XR1ppEnSFcOqH1JimKpTNC5AAFceIKkA449E50DKuVDkTy3xza1SFMtiYFICZiOALSpaAy4XU3rpHbyNHMcQk9qTRyjovh7CSRFiwws2ROV/grkEYWbr5421e8zRaAvAOA7FQoKNTnAsHy0= root@ctrl.example.com"
rootpw --iscrypted $6$jMMs4Nv.1BA8D74c$jHOC.koxhNO1VAIMbwm/QAd/iNSKwxKeetFgBDzPd42p2bcRknqD8O/0awUmnmBN2PMxyu3.eGF9WLsn3oSTx0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Hong_Kong --isUtc
reboot

%packages
# centos 7
#@^minimal
# centos 8
@^minimal-environment
kexec-tools
curl

%end

%post --log=/root/ks-post.log

yum -y install git telnet net-tools rsyslog vim

%end

"""
    return abc

@app.route('/static/<path:path>')
def home():
    return send_from_directory('static', path)


@app.route('/abc')
def abc():
    connection = pika.BlockingConnection(pika.ConnectionParameters(host='localhost'))
    channel = connection.channel()
    channel.queue_declare(queue='task_queue', durable=True)
    message = '{"version":"1.9.0"}'
    channel.basic_publish(
        exchange='',
        routing_key='task_queue',
        body=message,
        properties=pika.BasicProperties(
        delivery_mode=pika.spec.PERSISTENT_DELIVERY_MODE
    ))
    return message


@app.errorhandler(500)
def internalServerError(error):
    err = "<p>ERROR! 500</p>"
    err += "<pre>"+ str(error) + "</pre>"
    err += "<pre>"+ str(traceback.format_exc()) + "</pre>"
    return err

if __name__ == '__main__':
    app.run()
