from flask import Flask, render_template, send_from_directory
from test.test1 import abc

app = Flask(__name__)

@app.route('/')
def index():
    return f'Hello World {abc()}'

@app.route('/hi')
def xxx():
    abc="""
#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
#clearpart --none --initlabel
zerombr
clearpart --all --initlabel
# Use graphical install
#graphical
text
# Use CDROM installation media
#cdrom
url --url https://download.rockylinux.org/pub/rocky/9/BaseOS/x86_64/os/
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens32 --gateway=10.1.1.1 --ip=10.1.23.101 --nameserver=8.8.8.8 --netmask=255.255.0.0 --ipv6=auto --activate
network  --hostname=mytest.local
# Root password
sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDPJGVtau1aAzAYH64gqiWKjwzhnfxMwSgWNKULUGqBuqfaA/uZhw23VDB4DZiu1f7iBo0r86woOgRR1UKCzd7g/4+Sfi8BACCvbpjPMzuQNeOs2N9DSCzDYzpE4R7H2+hlagrza4gPPz/vbW/ufIgb7pdWGtF0hE1yJ6BJKtYZ9Lv+Ri9KxoQrcldgSKJ9PYSmkfro9HNWBeJY1NhMhyzI9tki2IL8aHtfWF933KUtCWkk4j0sx+L0f02WNTAOGpPPVekcJHxcS5B6SnouRy712sZqWnHkm9Yf7fMeMPbBuqxTRKSLIbGGywj5NuRo9Lnj5rptG/iT+AKaBJOI7w63mzCNE0eMH/Z6OOrmo8L0SHJQFkIKceyZ9r3GJ1APNdwADAgl8up8pPG9xrkYvA49+4DjrBwx6zrZ+YcFQ3e0G/Ykbd0ssSM0hEPcjSzBIBSTnKBKmWpY2T4feCzNmvQ6VJahedxOaWTQW0HypT+MOrJ61P+4HQzFtR+S7706bKM= devops@brianleung-cert-auth"
rootpw --iscrypted $6$jMMs4Nv.1BA8D74c$jHOC.koxhNO1VAIMbwm/QAd/iNSKwxKeetFgBDzPd42p2bcRknqD8O/0awUmnmBN2PMxyu3.eGF9WLsn3oSTx0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Hong_Kong --isUtc
reboot

%packages
@^minimal-environment
kexec-tools
curl
vim
git
telnet

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
    """
    return abc

@app.route('/static/<path:path>')
def home():
    return send_from_directory('static', path)

@app.errorhandler(500)
def internalServerError(error):
    err = "<p>ERROR! 500</p>"
    err += "<pre>"+ str(error) + "</pre>"
    err += "<pre>"+ str(traceback.format_exc()) + "</pre>"
    return err

if __name__ == '__main__':
    app.run()
